@layer reset, composition;

@import './utilities.css';
@import './tokens.css';
@import './composition/index.css' layer(composition);
@import './reset.css' layer(reset);

body {
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--step-0);
  font-family: var(--font-sans);
  background-color: var(--color-surface-100);
}

#app {
  min-height: 100dvh;
}

textarea {
  width: 100%;
  field-sizing: content; /* 核心：让 textarea 像 div 一样随内容自动撑高 */
  max-height: 200px; /* 超过这个高度后再出滚动条 */
  overflow-y: hidden;
  border: none;
  resize: none;
  overflow: auto;
  outline: none;
  background: transparent;
  font-size: var(--step-0);
}

.btn {
  --btn-bg: var(--color-surface-200);
  --btn-content: var(--color-text);
  --padding: var(--space-s);

  cursor: pointer;
  background-color: var(--btn-bg);
  border-radius: var(--border-radius-button);
  padding: var(--padding);
  border: none;
  display: inline-flex;
  color: var(--btn-content);
  white-space: nowrap;

  &.primary {
    --btn-bg: var(--color-text);
    --btn-content: var(--color-surface-200);
  }

  &:hover {
    background-color: color-mix(in oklch, var(--btn-bg), var(--btn-content) 5%);
  }
}
