.box {
  --_bg: transparent;
  --_text: var(--color-text);
  --_border: transparent;
  --_padding: var(--space-s);

  padding: var(--_padding);
  background-color: var(--_bg);
  color: var(--_text);
  border: 1px solid var(--_border);

  gap: 0.5ch;
}

.box.primary {
  --_bg: var(--color-neutral);
  --_text: var(--color-surface-200);
}
