.box {
  --bg-color: transparent;
  --text-color: var(--color-text);
  --border-color: transparent;
  --padding: var(--space-s);

  padding: var(--padding);
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);

  gap: 0.5ch;
}

.box.primary {
  --bg-color: var(--color-neutral);
  --text-color: var(--color-surface-200);
}
