.cluster {
  --gap: var(--space-xs);
  --justify-content: space-between;
  --flex-wrap: wrap;

  display: flex;
  flex-wrap: var(--flex-wrap);
  gap: var(--gap);
  align-items: center;
  justify-content: var(--justify-content);
}
