.cluster {
  --_gap: var(--space-xs);
  --_justify: space-between;
  --_wrap: wrap;

  display: flex;
  flex-wrap: var(--_wrap);
  gap: var(--_gap);
  align-items: center;
  justify-content: var(--_justify);
}
